.btn {
  #{$prefix}-btn-font-family: $root-ff;
  #{$prefix}-btn-padding-x: 0.75rem;
  #{$prefix}-btn-padding-y: 0.375rem;
  #{$prefix}-btn-font-size: 0.875rem;
  #{$prefix}-btn-font-weight: 500;
  #{$prefix}-btn-line-height: 1.25;
  #{$prefix}-btn-color: var(--dark);
  #{$prefix}-btn-bg: transparent;
  #{$prefix}-btn-border-width: 0;
  #{$prefix}-btn-border-color: transparent;
  #{$prefix}-border-radius: 0.25rem;
  #{$prefix}-btn-hover-border-color: transparent;
  #{$prefix}-btn-box-shadow: unset;
  #{$prefix}-btn-disabled-opacity: 0.65;
  #{$prefix}-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(#{$prefix}-btn-focus-shadow-rgb), 0.5);
  #{$prefix}-btn-letter-spacing: -0.02rem;
  display: inline-block;
  padding: var(#{$prefix}-btn-padding-y) var(#{$prefix}-btn-padding-x);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: var(#{$prefix}-btn-font-family);
  font-size: var(#{$prefix}-btn-font-size);
  font-weight: var(#{$prefix}-btn-font-weight);
  line-height: var(#{$prefix}-btn-line-height);
  color: var(#{$prefix}-btn-color);
  text-align: center;
  text-decoration: none;
  letter-spacing: var(#{$prefix}-btn-letter-spacing);
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-transform: none;
  border: var(#{$prefix}-btn-border-width) solid var(#{$prefix}-btn-border-color);
  border-radius: var(#{$prefix}-border-radius);
  background-color: var(#{$prefix}-btn-bg);
  box-shadow: var(#{$prefix}-btn-box-shadow);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  & svg {
    path {
      fill: currentColor;
    }
  }

  & .spinner-border {
    width: 0.65rem;
    height: 0.65rem;
    padding: 0;
  }

  &:hover {
    color: var(#{$prefix}-btn-hover-color);
    background-color: var(#{$prefix}-btn-hover-bg);
    border-color: var(#{$prefix}-btn-hover-border-color);
  }

  &.btn-check + &:hover {
    color: var(#{$prefix}-btn-hover-color);
    background-color: var(#{$prefix}-btn-hover-bg);
    border-color: var(#{$prefix}-btn-hover-border-color);
  }

  &:focus-visible {
    color: var(#{$prefix}-btn-hover-color);
    background-color: var(#{$prefix}-btn-hover-bg);
    border-color: var(#{$prefix}-btn-hover-border-color);
    outline: 0;
    box-shadow: unset;
  }

  &.btn-check:focus-visible + & {
    border-color: var(#{$prefix}-btn-hover-border-color);
    outline: 0;
    box-shadow: unset;
  }

  &.btn-check:checked + &,
  &:not(.btn-check) + &:active,
  &:first-child:active,
  &.active,
  &.show {
    color: var(#{$prefix}-btn-active-color);
    background-color: var(#{$prefix}-btn-active-bg);
    border-color: var(#{$prefix}-btn-active-border-color);
  }

  &.btn-check:checked + &:focus-visible,
  &:not(.btn-check) + &:active:focus-visible,
  &:first-child:active:focus-visible,
  &.active:focus-visible,
  &.show:focus-visible {
    box-shadow: unset;
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    color: var(#{$prefix}-btn-disabled-color);
    pointer-events: none;
    background-color: var(#{$prefix}-btn-disabled-bg);
    border-color: var(#{$prefix}-btn-disabled-border-color);
    opacity: var(#{$prefix}-btn-disabled-opacity);
    cursor: not-allowed;
  }

  &-sm {
    #{$prefix}-btn-padding-x: 0.75rem;
    #{$prefix}-btn-padding-y: 0.375rem;
    #{$prefix}-btn-font-size: 0.875rem;
  }

  &-lg {
    padding: calc(var(#{$prefix}-btn-padding-y) + 0.56rem) calc(var(#{$prefix}-btn-padding-x) + 0.25rem);
  }

  &-square {
    #{$prefix}-btn-padding-x: var(#{$prefix}-btn-padding-y);
  }

  &-rounded {
    #{$prefix}-border-radius: 50rem;
  }

  &-icon {
    #{$prefix}-btn-size: var(#{$prefix}-btn-font-size);
    #{$prefix}-btn-gap: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &-lg {
      #{$prefix}-btn-font-size: calc(var(#{$prefix}-btn-font-size) + 50%);
    }

    & > svg {
      display: inline-block;
      vertical-align: middle;
      width: var(#{$prefix}-btn-size);
      height: var(#{$prefix}-btn-size);
      min-width: var(#{$prefix}-btn-size);
      min-height: var(#{$prefix}-btn-size);
      object-fit: contain;
    }

    & > * {
      &:first-child {
        &:is(.btn-icon-text) {
          margin-right: var(#{$prefix}-btn-gap);
        }

        &:is(svg) {
          min-width: var(#{$prefix}-btn-size);
          min-height: var(#{$prefix}-btn-size);
        }
      }

      &:last-child {
        &:is(.btn-icon-text) {
          margin-left: var(#{$prefix}-btn-gap);
        }

        &:is(svg) {
          min-width: var(#{$prefix}-btn-size);
          min-height: var(#{$prefix}-btn-size);
        }
      }

      &:is(* ~ .btn-icon-text) {
        &:not(:last-child),
        &:not(:first-of-type) {
          margin-right: var(#{$prefix}-btn-gap);
          margin-left: var(#{$prefix}-btn-gap);
        }
      }

      &:is(.btn-social) {
        padding: 0;
      }

      & > svg {
        width: 100%;
        height: 100%;
        object-fit: contain;

        & path {
          stroke: currentColor;
          fill: unset;
        }
      }
    }
  }
}

// exp
@each $color, $value in $colors {
  .btn-#{$value} {
    #{$prefix}-btn-color: #{lighten($color, 100%)};
    #{$prefix}-btn-bg: var(--#{$value});
    #{$prefix}-btn-border-color: var(--#{$value});
    #{$prefix}-btn-hover-color: #{lighten($color, 100%)};
    #{$prefix}-btn-hover-bg: #{lighten($color, 15%)};
    #{$prefix}-btn-hover-border-color: #{lighten($color, 15%)};
    #{$prefix}-btn-focus-shadow-rgb: rgba(var(--#{$value}-rgb), 1);
    #{$prefix}-btn-active-color: #{lighten($color, 45%)};
    #{$prefix}-btn-active-bg: #{darken($color, 10%)};
    #{$prefix}-btn-active-border-color: #{darken($color, 10%)};
    #{$prefix}-btn-active-shadow: inset 0 0.188rem 0.313rem rgba(var(--#{$value}-rgb), 0.125);
    #{$prefix}-btn-disabled-color: rgba(var(--dark-rgb), 0.3);
    #{$prefix}-btn-disabled-bg: var(--grey);
    #{$prefix}-btn-disabled-border-color: var(--grey);
    @if $value == 'danger' {
      #{$prefix}-btn-color: #{darken($color, 90%)};
      #{$prefix}-btn-hover-color: #{darken($color, 50%)};
      #{$prefix}-btn-active-color: #{darken($color, 90%)};
    }
    @if $value == 'white' {
      #{$prefix}-btn-color: #{darken($color, 90%)};
      #{$prefix}-btn-hover-color: #{darken($color, 50%)};
      #{$prefix}-btn-active-color: #{darken($color, 75%)};
      #{$prefix}-btn-active-bg: #{darken($color, 5%)};
      #{$prefix}-btn-active-border-color: #{darken($color, 5%)};
    }
  }
  .btn-#{$value}-shadow {
    filter: drop-shadow(0rem 0.125rem 1rem rgba(var(--#{$value}-rgb), 0.5));
  }
  .btn-outline-#{$value} {
    &:not(.btn-colored),
    &:not(.btn-dimmed) {
      #{$prefix}-btn-color: var(--body-text-color);
    }

    #{$prefix}-btn-color: var(--#{$value});
    #{$prefix}-btn-bg: transparent;
    #{$prefix}-btn-border-color: var(--#{$value});
    #{$prefix}-btn-hover-color: #{lighten($color, 100%)};
    #{$prefix}-btn-hover-bg: var(--#{$value});
    #{$prefix}-btn-hover-border-color: var(--#{$value});
    #{$prefix}-btn-border-width: 0.0625rem;
    #{$prefix}-btn-box-shadow: unset;
    #{$prefix}-btn-focus-shadow-rgb: unset;
    #{$prefix}-btn-active-bg: #{darken($color, 10%)};
    #{$prefix}-btn-active-color: #{lighten($color, 65%)};
    #{$prefix}-btn-active-border-color: #{darken($color, 10%)};
    @if $value == 'grey' {
      #{$prefix}-btn-color: #{darken($color, 75%)};
      #{$prefix}-btn-border-color: #{darken($color, 10%)};
      #{$prefix}-btn-hover-color: #{darken($color, 50%)};
      #{$prefix}-btn-hover-bg: #{lighten($color, 5%)};
      #{$prefix}-btn-hover-border-color: #{darken($color, 25%)};
      #{$prefix}-btn-bg: transparent !important;
      #{$prefix}-btn-active-bg: var(--#{$value});
      #{$prefix}-btn-active-color: #{darken($color, 75%)};
      #{$prefix}-btn-active-border-color: #{darken($color, 15%)};
    }
    @if $value == 'white' {
      #{$prefix}-btn-bg: transparent !important;
      #{$prefix}-btn-active-bg: #{lighten($color, 15%)};
      #{$prefix}-btn-active-color: #{darken($color, 75%)};
      #{$prefix}-btn-active-border-color: #{darken($color, 15%)};
    }
  }
  .btn-colored {
    &:is(.btn-#{$value}),
    &:is(.btn-outline-#{$value}) {
      #{$prefix}-btn-color: #{$color};
    }

    &:is(.btn-#{$value}) {
      @if $value == 'primary' {
        #{$prefix}-btn-color: #{lighten($color, 100%)};
      }
    }
  }
  .btn-dimmed {
    #{$prefix}-btn-box-shadow: unset;
    #{$prefix}-btn-focus-shadow-rgb: unset;

    &:is(.btn-#{$value}),
    &:is(.btn-outline-#{$value}) {
      #{$prefix}-btn-bg: rgba(var(--#{$value}-rgb), 0.1);
      #{$prefix}-btn-hover-color: #{darken($color, 50%)};
      #{$prefix}-btn-hover-bg: rgba(var(--#{$value}-rgb), 1);
    }
  }
  .btn-check + :is(.btn-#{$value}) {
    #{$prefix}-btn-color: var(--grey);
    #{$prefix}-btn-bg: var(--dark-grey);
    #{$prefix}-btn-border-color: var(#{$prefix}-btn-bg);
    #{$prefix}-btn-hover-color: var(--white);
    #{$prefix}-btn-hover-bg: var(#{$prefix}-btn-border-color);
    #{$prefix}-btn-hover-border-color: rgba(var(--#{$value}-rgb), 0.5);
    #{$prefix}-btn-active-color: var(--white);
    #{$prefix}-btn-active-bg: var(--#{$value});
    #{$prefix}-btn-active-border-color: var(--#{$value});
    @if $value == 'primary' {
      #{$prefix}-btn-color: var(--grey);
      #{$prefix}-btn-bg: var(--dark-grey);
      #{$prefix}-btn-border-color: var(--dark-grey);
      #{$prefix}-btn-active-color: var(--dark-grey);
      #{$prefix}-btn-hover-border-color: #{lighten($color, 20%)};
      #{$prefix}-btn-active-border-color: #{lighten($color, 20%)};
    }
    @if $value == 'secondary' {
      #{$prefix}-btn-color: var(--grey);
      #{$prefix}-btn-active-color: var(--white);
      #{$prefix}-btn-hover-border-color: #{lighten($color, 50%)};
      #{$prefix}-btn-active-border-color: #{lighten($color, 50%)};
    }
    @if $value == 'danger' {
      #{$prefix}-btn-active-color: var(--black);
    }
    @if $value == 'white' {
      #{$prefix}-btn-active-color: var(--black);
    }
  }
  .btn-check + :is(.btn-outline-#{$value}) {
    #{$prefix}-btn-color: var(--grey);
    #{$prefix}-btn-bg: var(--dark-grey);
    #{$prefix}-btn-border-color: var(#{$prefix}-btn-bg);
    #{$prefix}-btn-hover-color: var(--white);
    #{$prefix}-btn-hover-bg: var(#{$prefix}-btn-border-color);
    #{$prefix}-btn-hover-border-color: rgba(var(--#{$value}-rgb), 0.5);
    #{$prefix}-btn-active-color: var(--#{$value});
    #{$prefix}-btn-active-bg: var(--dark-grey);
    #{$prefix}-btn-active-border-color: var(--#{$value});
    @if $value == 'primary' {
      #{$prefix}-btn-active-border-color: #{darken($color, 25%)};
    }
    @if $value == 'secondary' {
      #{$prefix}-btn-hover-border-color: #{lighten($color, 20%)};
      #{$prefix}-btn-hover-color: var(--white);
      #{$prefix}-btn-active-bg: var(--dark-grey);
      #{$prefix}-btn-active-color: #{lighten($color, 30%)};
      #{$prefix}-btn-active-border-color: #{lighten($color, 30%)};
    }
  }
  .btn-tag {
    &:is(.btn-#{$value}),
    &:is(.btn-outline-#{$value}) {
      #{$prefix}-btn-hover-bg: var(#{$prefix}-btn-bg);
      #{$prefix}-btn-hover-color: var(#{$prefix}-btn-color);
      #{$prefix}-btn-hover-border-color: var(#{$prefix}-btn-border-color);
      #{$prefix}-btn-active-bg: var(#{$prefix}-btn-bg);
      #{$prefix}-btn-active-color: var(#{$prefix}-btn-color);
      #{$prefix}-btn-active-border-color: var(#{$prefix}-btn-border-color);
      @if $value == 'secondary' {
        #{$prefix}-btn-color: #{lighten($color, 50%)};
        #{$prefix}-btn-bg: rgba(var(--#{$value}-rgb), 0.45);
      }
    }
  }
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  flex: 1 1 auto;
}

.btn-group > .btn-check:checked + .btn,
.btn-group > .btn-check:focus + .btn,
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn-check:checked + .btn,
.btn-group-vertical > .btn-check:focus + .btn,
.btn-group-vertical > .btn:hover,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
  z-index: 1;
}

.btn-group {
  border-radius: var(#{$prefix}-border-radius);
}

.btn-group > :not(.btn-check:first-child) + .btn,
.btn-group > .btn-group:not(:first-child) {
  margin-left: calc(var(#{$prefix}-border-width) * -1);
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn.dropdown-toggle-split:first-child,
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: var(#{$prefix}-btn-border-width);
    height: 100%;
    background-color: rgba(var(--grey-rgb), 0.5);
  }
}

.btn-group > .btn:nth-child(n + 3),
.btn-group > :not(.btn-check) + .btn,
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-sm + .dropdown-toggle-split,
.btn-group-sm > .btn + .dropdown-toggle-split {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.btn-lg + .dropdown-toggle-split,
.btn-group-lg > .btn + .dropdown-toggle-split {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.btn-group-vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group {
  width: 100%;
}

.btn-group-vertical > .btn:not(:first-child),
.btn-group-vertical > .btn-group:not(:first-child) {
  margin-top: calc(var(#{$prefix}-border-width) * -1);
}

.btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group-vertical > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn ~ .btn,
.btn-group-vertical > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
