:root {
  #{$prefix}-form-input-color: var(--white-rgb);
  #{$prefix}-form-check-bg: rgba(var(#{$prefix}-form-input-color), 1);
  #{$prefix}-border-width: 0.0625rem;
  #{$prefix}-border-color: rgba(var(--form-border-color), 1);
  #{$prefix}-border-radius: 0.25rem;
  #{$prefix}-checkbox-size: initial;
  #{$prefix}-form-check-label-padding-left: 0.75rem;
}

.form-check {
  position: relative;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;

  & .form-check-input {
    float: left;
    margin-top: -0.06rem;
    margin-left: -1.5em;
  }

  &-reverse {
    padding-right: 1.5em;
    padding-left: 0;
    text-align: right;

    & .form-check-input {
      float: right;
      margin-right: -1.5em;
      margin-left: 0;
    }
  }

  &-label {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-left: var(#{$prefix}-form-check-label-padding-left);
    user-select: none;
    cursor: pointer;
  }

  &-input {
    width: 1.25rem;
    height: 1.25rem;
    flex: 0 0 1.25rem;
    // margin-top: 0.25em;
    vertical-align: top;
    background-color: var(#{$prefix}-form-check-bg);
    background-image: var(#{$prefix}-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    border: var(#{$prefix}-border-width) solid var(#{$prefix}-border-color);
    border-radius: var(#{$prefix}-border-radius);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
    cursor: pointer;

    &[type='checkbox'] {
      border-radius: var(#{$prefix}-border-radius);
    }

    &[type='radio'] {
      border-radius: 50%;
    }

    &:active {
      filter: brightness(85%);
    }

    &:focus {
      outline: 0;
    }

    &:checked {
      #{$prefix}-form-check-bg: var(--primary);
      background-color: var(--primary);
      border-color: #{darken($primary, 15%)};

      &:active {
        filter: brightness(85%);
      }
    }

    &:checked[type='checkbox'] {
      #{$prefix}-form-check-bg: var(--primary);
      #{$prefix}-form-check-bg-image: url('data:image/svg+xml,%3Csvg width=\'10\' height=\'8\' viewBox=\'0 0 10 8\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M9.7775 1.69937L4.1075 7.36937C3.9675 7.50937 3.7775 7.58938 3.5775 7.58938C3.3775 7.58938 3.1875 7.50937 3.0475 7.36937L0.2175 4.53937C-0.0725 4.24937 -0.0725 3.76937 0.2175 3.47937C0.5075 3.18937 0.9875 3.18937 1.2775 3.47937L3.5775 5.77937L8.7175 0.639375C9.0075 0.349375 9.4875 0.349375 9.7775 0.639375C10.0675 0.929375 10.0675 1.39937 9.7775 1.69937Z\' fill=\'%23222222\'/%3E%3Cpath d=\'M9.7775 1.69937L4.1075 7.36937C3.9675 7.50937 3.7775 7.58938 3.5775 7.58938C3.3775 7.58938 3.1875 7.50937 3.0475 7.36937L0.2175 4.53937C-0.0725 4.24937 -0.0725 3.76937 0.2175 3.47937C0.5075 3.18937 0.9875 3.18937 1.2775 3.47937L3.5775 5.77937L8.7175 0.639375C9.0075 0.349375 9.4875 0.349375 9.7775 0.639375C10.0675 0.929375 10.0675 1.39937 9.7775 1.69937Z\' fill=\'%23ffffff\'/%3E%3C/svg%3E%0A');
      background-size: 0.62469rem 0.62469rem;
    }

    &:checked[type='radio'] {
      #{$prefix}-form-check-bg: var(--primary);
      #{$prefix}-form-check-bg-image: url('data:image/svg+xml,%3Csvg width=\'12\' height=\'12\' viewBox=\'0 0 12 12\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M6 0C2.694 0 0 2.694 0 6C0 9.306 2.694 12 6 12C9.306 12 12 9.306 12 6C12 2.694 9.306 0 6 0Z\' fill=\'%23222222\'/%3E%3C/svg%3E%0A');
      background-size: 0.75rem 0.75rem;
    }

    &[type='checkbox']:indeterminate {
      background-color: var(--white);
      border-color: #{darken($black, 5%)};
      #{$prefix}-form-check-bg-image: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 20 20\'%3e%3cpath fill=\'none\' stroke=\'%2365cb82\' stroke-linecap=\'round\' stroke-linejoin=\'round\' stroke-width=\'3\' d=\'M6 10h8\'/%3e%3c/svg%3e');
    }

    &:disabled {
      pointer-events: none;
      filter: none;
      opacity: 0.5;
    }

    &[disabled] ~ .form-check-label,
    &:disabled ~ .form-check-label {
      cursor: default;
      opacity: 0.5;
    }
  }

  &:is(.form-check-sm) {
    #{$prefix}-form-check-label-padding-left: 0.71rem;
    #{$prefix}-checkbox-size: 0.83331rem;
    padding-left: var(#{$prefix}-checkbox-size);

    & .form-check-input {
      #{$prefix}-border-radius: 0.25rem;
      width: var(#{$prefix}-checkbox-size);
      height: var(#{$prefix}-checkbox-size);
      flex: 0 0 var(#{$prefix}-checkbox-size);
      margin-top: 0.25rem;
      margin-left: calc(-1 * var(#{$prefix}-checkbox-size));

      &:checked[type='checkbox'] {
        background-size: 0.41644rem 0.41644rem;
      }
    }

    & .form-check-label {
      padding-left: var(#{$prefix}-form-check-label-padding-left);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: -0.0175rem;
    }
  }

  &:is(.form-check-crossed) {
    &:has(input:checked) {
      & .form-check-label {
        opacity: 0.5;
        text-decoration: line-through;
      }
    }
  }

  &-single {
    width: fit-content;
    min-height: unset;
    margin: unset;
    padding: unset;

    & .form-check-input {
      float: unset;
      margin: unset;
      padding: unset;
    }
  }
}

@each $color, $value in $colors {
  .form-check-#{$value} {
    & .form-check-input {
      &:checked {
        background-color: var(--#{$value});
        border-color: var(--#{$value});
      }

      &:checked[type='checkbox'] {
        #{$prefix}-form-check-bg: var(--#{$value});
      }

      &:checked[type='radio'] {
        background-color: var(--#{$value});
        border-color: var(--#{$value});
        @if $value == 'primary' {
          #{$prefix}-form-check-bg-image: url('data:image/svg+xml,%3Csvg width=\'12\' height=\'12\' viewBox=\'0 0 12 12\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M6 0C2.694 0 0 2.694 0 6C0 9.306 2.694 12 6 12C9.306 12 12 9.306 12 6C12 2.694 9.306 0 6 0Z\' fill=\'%23ffffff\'/%3E%3C/svg%3E%0A');
        }
        @if $value == 'success' {
          #{$prefix}-form-check-bg-image: url('data:image/svg+xml,%3Csvg width=\'12\' height=\'12\' viewBox=\'0 0 12 12\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M6 0C2.694 0 0 2.694 0 6C0 9.306 2.694 12 6 12C9.306 12 12 9.306 12 6C12 2.694 9.306 0 6 0Z\' fill=\'%23ffffff\'/%3E%3C/svg%3E%0A');
        }
        @if $value == 'warning' {
          #{$prefix}-form-check-bg-image: url('data:image/svg+xml,%3Csvg width=\'12\' height=\'12\' viewBox=\'0 0 12 12\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M6 0C2.694 0 0 2.694 0 6C0 9.306 2.694 12 6 12C9.306 12 12 9.306 12 6C12 2.694 9.306 0 6 0Z\' fill=\'%23ffffff\'/%3E%3C/svg%3E%0A');
        }
        @if $value == 'danger' {
          #{$prefix}-form-check-bg-image: url('data:image/svg+xml,%3Csvg width=\'12\' height=\'12\' viewBox=\'0 0 12 12\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M6 0C2.694 0 0 2.694 0 6C0 9.306 2.694 12 6 12C9.306 12 12 9.306 12 6C12 2.694 9.306 0 6 0Z\' fill=\'%23ffffff\'/%3E%3C/svg%3E%0A');
        }
      }
    }

    &:is(.form-check-colored) {
      & .form-check-input:checked {
        & + .form-check-label {
          color: var(--#{$value});
        }
      }
    }
  }
}

.form-check-inline {
  display: inline-block;
  margin-right: 1rem;
}

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;

  &[disabled] + .btn,
  &:disabled + .btn {
    pointer-events: none;
    filter: none;
    opacity: 0.65;
  }
}
