.collapse {
  overflow: hidden;
  transition: max-height 0.6s ease-in-out, opacity 0.4s ease-in-out,
  visibility 0.4s ease-in-out;

  &-block {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    column-gap: 0.5rem;

    &-center {
      align-items: center;
    }
  }

  &-button {
    display: flex;
    aspect-ratio: 1 /1;
    padding: 0.5rem;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: transform 0.6s ease;

    &:is(.show) {
      transform: rotate(90deg);
    }
  }

  &-item {
    cursor: pointer;

    &:is(.show) {
      & .collapse-button {
        transform: rotate(90deg);
      }
    }
  }

  &:is(.show) {
    max-height: 100rem;
    -webkit-line-clamp: initial;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
  }

  &:not(.show) {
    max-height: 0;
    -webkit-line-clamp: 0;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    overflow: hidden;
  }
}
