:host {
  --header-padding-y: 1.0625rem;
  --header-padding-x: 1.875rem;
  --header-zindex: 1200;
}

.header {
  position: sticky;
  top: 0;
  z-index: var(--header-zindex);
  padding: var(--header-padding-y) var(--header-padding-x);
  background-color: var(--primary);
  color: var(--white);

  &-inner {
    & > .row {
      align-items: center;
    }
  }

  &-logo {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    row-gap: 1.412rem;
    column-gap: 1.412rem;
  }

  &-title {
    font-size: 1.25rem;
    @media (min-width: 768px) {
      font-size: 1.75rem;
    }
  }

  &-image {
    position: relative;
    z-index: 1;
    display: flex;
    width: 4.963rem;
    height: 2.875rem;
  }

  &-navigation {
    & * {
      &:is(.btn) {
        --cl-btn-padding-x: 1rem;
        --cl-btn-padding-y: 0.625rem;
        --cl-btn-font-size: 1.125rem;
        --cl-btn-size: 1.5rem;

        & > svg {
          display: none;
          @media (min-width: 768px) {
            display: flex;
          }
        }
      }
    }

    &-view {
      & * {
        &:is(.btn) {
          --cl-btn-padding-x: 0.5rem;
          --cl-btn-padding-y: 0.375rem;
        }
      }
    }
  }
}
