<div class='header-inner'>
  <div class='row g-3 align-items-center'>
    <div class='col-auto'>
      <div class='header-logo'>
        <div class='header-image'>
          <img src='logo.svg'/>
          <a href='/angular-test/' class='stretched-link'></a>
        </div>
        <div class='header-title'>
          <span class='fw-400'>Контрольные замеры</span>
        </div>
      </div>
    </div>
    <div class='col'>
      <div class='header-navigation'>
        <div class='btn-group'>
          <button type='button'
                  class='btn btn-icon btn-outline-white btn-colored btn-dimmed active'>
            <svg width='1rem' height='1rem' fill='none'
                 xmlns='http://www.w3.org/2000/svg' aria-hidden='true'
                 focusable='false'>
              <use xlink:href='/angular-test/sprite.svg#state'></use>
            </svg>
            <span class='btn-icon-text'>Замеры</span>
          </button>

          <button type='button'
                  class='btn btn-icon btn-outline-white btn-colored btn-dimmed'>
            <svg width='1rem' height='1rem' fill='none'
                 xmlns='http://www.w3.org/2000/svg' aria-hidden='true'
                 focusable='false'>
              <use xlink:href='/angular-test/sprite.svg#document'></use>
            </svg>
            <span class='btn-icon-text'>Отчеты</span>
          </button>

          <button type='button'
                  class='btn btn-icon btn-outline-white btn-colored btn-dimmed'>
            <svg width='1rem' height='1rem' fill='none'
                 xmlns='http://www.w3.org/2000/svg' aria-hidden='true'
                 focusable='false'>
              <use xlink:href='/angular-test/sprite.svg#tools'></use>
            </svg>
            <span class='btn-icon-text'> Сервис</span>
          </button>
        </div>
      </div>
    </div>
    <div class='col-auto'>
      <div class='header-navigation-view'>
        <div class='btn-group'>
          <button type='button'
                  class='btn btn-square btn-icon btn-icon-lg btn-outline-white btn-colored btn-dimmed'>
            <svg width='1rem' height='1rem' fill='none'
                 xmlns='http://www.w3.org/2000/svg' aria-hidden='true'
                 focusable='false'>
              <use xlink:href='/angular-test/sprite.svg#grid-view'></use>
            </svg>
          </button>

          <button type='button'
                  class='btn btn-square btn-icon btn-icon-lg btn-outline-white btn-colored btn-dimmed active'>
            <svg width='1rem' height='1rem' fill='none'
                 xmlns='http://www.w3.org/2000/svg' aria-hidden='true'
                 focusable='false'>
              <use xlink:href='/angular-test/sprite.svg#view-week'></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
