.measurement-form {
  display: block;
  width: 100%;
  height: 100%;
  white-space: normal;

  &-content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    column-gap: 1rem;
  }

  &-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    row-gap: 0.5rem;
    column-gap: 0.5rem;

    & > * {
      flex: 1 0 calc(33.333333% - (0.5rem / 2));
    }
  }

  &-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 0.5rem;
    column-gap: 0.5rem;

    & > * {
      flex: 1 0 calc(50% - (0.5rem / 2));
    }
  }
}
