:host {
  --content-padding-y: 0;
  --content-padding-x: 0;
  --resizer-width: 0.688rem;
  --aside-padding-x: 1.875rem;
  --aside-padding-y: 1rem;
  --left-panel-gap: 1rem;
  --right-panel-gap: 1rem;
  --footer-padding: 0.625rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--content-padding-y) var(--content-padding-x);
  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.left-panel {
  display: flex;
  flex-direction: column;
  row-gap: var(--right-panel-gap);
  column-gap: var(--right-panel-gap);
  padding: var(--aside-padding-y) var(--aside-padding-x);
  @media (min-width: 1200px) {
    width: 50%;
  }

  &-header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    row-gap: var(--right-panel-gap);
    column-gap: var(--right-panel-gap);
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0.625rem;
    column-gap: 0.625rem;

    & > * {
      &:is(.btn) {
        --cl-btn-padding-y: 0.438rem;
        --cl-btn-padding-x: 0.75rem;
        --cl-btn-size: 1.5rem;
      }
    }
  }

  &-selected {
    font-size: 1.375rem;
  }

  &-options {
    width: 100%;
  }

  &-state {
    & > * {
      &:is(.btn) {
        --cl-btn-padding-x: 0.75rem;
        --cl-btn-padding-y: 0.563rem;
        --cl-btn-size: 1rem;
      }
    }
  }
}

.right-panel {
  display: flex;
  flex-direction: column;
  row-gap: var(--right-panel-gap);
  column-gap: var(--right-panel-gap);
  padding: var(--aside-padding-y) var(--aside-padding-x);
  @media (min-width: 1200px) {
    width: 50%;
  }

  &-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    row-gap: 0.9875rem;
    column-gap: 0.9875rem;
    font-size: 1.375rem;
    line-height: 90%;
    letter-spacing: -0.0625rem;
  }

  &-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
    column-gap: 1rem;
  }

  &-actions {
    & * {
      &:is(.btn) {
        --cl-btn-padding-x: 0.75rem;
        --cl-btn-padding-y: 0.375rem;
        --cl-btn-font-size: 0.875rem;
        --cl-btn-line-height: 1.25rem;
        --cl-btn-size: 1rem;
      }
    }
  }

  &-view {
    & * {
      &:is(.btn) {
        --cl-btn-padding-x: 0.5rem;
        --cl-btn-padding-y: 0.188rem;
        --cl-btn-font-size: 1.5rem;
        --cl-btn-size: 1.5rem;
      }
    }
  }

  & .table {
    & th {
      font-size: 1.063rem;

      &:nth-child(1) {
        width: 1rem;
      }
    }
  }
}

// resizer element
.resizer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--resizer-width);
  background: var(--grey);
  cursor: n-resize;
  @media (min-width: 1200px) {
    flex-direction: column;
    width: var(--resizer-width);
    height: 100%;
    cursor: e-resize;
  }

  &-icon {
    display: flex;
    flex-direction: row;
    height: calc(var(--resizer-width) - 0.125rem);
    color: rgba(var(--black-rgb), 0.5);
    padding: 0.0125rem;
    @media (min-width: 1200px) {
      flex-direction: column;
      width: calc(var(--resizer-width) - 0.125rem);
      height: initial;
    }

    & > * {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform: rotate(90deg);
      @media (min-width: 1200px) {
        transform: none;
      }
    }
  }
}

.selection {
  display: flex;

  margin-bottom: 0.625rem;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: var(--right-panel-gap);
  column-gap: var(--right-panel-gap);
}

.list-title {
  display: flex;
  justify-content: space-between;
}

.list {
  &-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1.25rem;
    column-gap: 1.25rem;
    flex-wrap: wrap;
  }

  &-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    row-gap: 0.625rem;
    column-gap: 0.625rem;

    & .form-select {
      --cl-form-select-padding-right: calc(
        var(--cl-form-select-bg-size) + 1.875rem
      );
    }
  }
}

.table-container {
  overflow: auto;
}

.table-title {
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 0.0625rem solid var(--light-grey);

  & th,
  & td {
    font-weight: 400;
    padding: 0.5rem;
    text-align: left;
    white-space: nowrap;
    border: 0.0625rem solid var(--light-grey);
  }

  & th {
    background-color: #f2f2f2;
    font-weight: 500;
    font-size: 1.125rem;
  }

  & tr {
    font-size: 1rem;
    line-height: 1.375rem;

    &:hover {
      background-color: rgba(var(--primary-rgb), 0.0625);
    }
  }
}

.footer {
  padding: var(--footer-padding);
  background-color: var(--primary);
  color: var(--white);
}
