// utility
@import './styles/utils/utility';

// normalize
@import './styles/utils/normalize';

// responsive
@import './styles/utils/responsive';

// components
@import './styles/components/components';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
